### Building a RAG System based on connection and retrival through mysql connection

In [241]:
password = password

In [243]:
import mysql.connector
connection = mysql.connector.connect(
    host='localhost',
    user='root',
    password=password,
    database='employees'
)
cursor = connection.cursor(buffered=True)
# cursor.execute('SHOW TABLES')
# tables = cursor.fetchall()
# tables
#database
select_query = 'SELECT * FROM employees LIMIT 10'
cursor.execute(select_query)
# 
row = cursor.fetchall()

In [170]:

import os


#model instantiate 
from langchain_openai import ChatOpenAI

llm = ChatOpenAI(
    base_url="https://api.together.xyz/v1",
    api_key=os.environ["TOGETHERAI_API_KEY"],
    model="meta-llama/Llama-3.3-70B-Instruct-Turbo-Free",
)

### Converting query to Code

In [173]:
question = 'How many unique departments are there in departments table . name of column is dept_name'

In [175]:
prompt = f'''follow the instructions strictly.
only provide the SQL code for the question asked below.
{question}
never provide anything other than that.
no english , no puncutaltuins.'''

In [177]:
prompt = prompt.format({'question':question})
prompt

'follow the instructions strictly.\nonly provide the SQL code for the question asked below.\nHow many unique departments are there in departments table . name of column is dept_name\nnever provide anything other than that.\nno english , no puncutaltuins.'

In [179]:
query = llm.invoke(prompt)

query = query.content
query

'SELECT COUNT(DISTINCT dept_name) FROM departments'

### Executing Query

In [182]:
cursor.execute(query)
result=cursor.fetchall()
result = str(result[0]) #casting in string
result

'(9,)'

#### Geenrate answer

In [186]:
prompt = f''' given the result received {result} of the sql query.
provide the result to the user in max 20 words.
include`` hello your result is`` before result
always say ``Have a great day in the end`` in the end
'''
final = llm.invoke(prompt)

In [187]:

final.content

'Hello your result is 9. Have a great day!'